<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <title>Overclocked</title>
    <script src="../static/phaser.js"></script>

    <!--The js files that are to be used for running the game-->
    <script src="../static/javascriptFiles/character.js"></script>
    <script src="../static/javascriptFiles/enemy.js"></script>
    <script src="../static/javascriptFiles/workstation.js"></script>
    <script src="../static/javascriptFiles/movement.js"></script>
    <script src="../static/javascriptFiles/levelSelect.js"></script>
    <script src="../static/javascriptFiles/level1.js"></script>
    <script src="../static/javascriptFiles/level2.js"></script>
    <script src="../static/javascriptFiles/setUpUniversalGameItems.js"></script>

    <link rel="stylesheet" href="../static/css/game.css" />
</head>
<body>
    <div id="gameDiv"></div>
    <script>
    var config = {
        type: Phaser.AUTO,
        width: 800,
        height: 600,
        scale:{
            parent: 'gameDiv',
            autoCenter: Phaser.Scale.CENTER_BOTH
        },
        physics: {
            default: 'arcade',
        },
        scene: [LevelSelect, Level1, Level2]
    };

    var game = new Phaser.Game(config);

    </script>
</body>
</html>