<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../static/css/index.css" />
</head>

<body>
    <section class="showcase">
        <header>
            <h2 class="logo">OverClocked</h2>
            <div class="toggle"></div>
        </header>
        <!-- <video src="video.mp4" muted loop autoplay></video> -->
        <div class="overlay"></div>
        <div class="text">
            <h2>Welcome to</h2>
            <h3>OVERCLOCKED</h3>
            <p>
                A game that's designed to combine fun gameplay while offering concepts and
                ideas about software engineering.<br />

                We strive to engage and prompt players to learn more about Computer
                Science
            </p>
            <a href="/room">Play</a>
        </div>
        <ul class="social">
            <li>
                <a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png" /></a>
            </li>
            <li>
                <a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png" /></a>
            </li>
            <li>
                <a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png" /></a>
            </li>
        </ul>
    </section>
    <div class="menu">
        <ul>

            <li><a href="#">Home</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <script src="../static/javascriptFiles/index.js"></script>
</body>

</html>