<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socket Rooms</title>
    <link rel="stylesheet" href="../static/css/room.css" />
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script>
        const socket = io('http://localhost:5050/room');
    </script>
</head>

<section class="showcase">
    <header>
        <h2 class="logo">OverClocked</h2>
        <div class="toggle"></div>
    </header>
    <video src="video.mp4" muted loop autoplay></video>
 
    <div class="text">
        <h2>Welcome to</h2>
        <h3>OVERCLOCKED</h3>
        <br><br>
        
        <form action="/chat">
            <div>
                <p>Enter your username:</p>
                <input type="text" name="username">
            </div>
            <div>
                <p>Enter room id:</p>
                <input type="text" name="room">
            </div>
            <script src="../static/javascriptFiles/index.js"></script>
            <br>
            <button type ="submit">Submit</button>
        </form>
    </div>
</section>
</html>  

    