<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <title>Overclocked</title>
    <script src="static/phaser.js"></script>
</head>
<body>

    <script>
    var config = {
        type: Phaser.AUTO,
        width: 800,
        height: 600,
        physics: {
            default: 'arcade',
        },
        scene: {
            preload: preload,
            create: create,
            update: update
        }
    };

    var game = new Phaser.Game(config);

    function preload ()
    {
        this.load.image('circle', 'static/assets/images/GreenCircleTransperantBackground.png');
        
    }

    var circle;

    function create ()
    {

        this.cursorKeys = this.input.keyboard.createCursorKeys();

        circle = this.physics.add.image(100,100, 'circle');
        circle.setCollideWorldBounds(true);
        
        //circle.setCollideWorldBounds(true);

        // var circles = []
        // for(var i = 0; i < 30; i++){
        //     circles[i] = this.physics.add.image(i*30, 100+i*20, 'logo');

        //     circles[i].setVelocity(100, 200);
        //     circles[i].setBounce(1, 1);
        //     circles[i].setCollideWorldBounds(true);

        // }
    }

    function update(){

       if(this.cursorKeys.right.isDown){
           circle.x += 3;
       }
       if(this.cursorKeys.left.isDown){
           circle.x -= 3;
       }
       if(this.cursorKeys.up.isDown){
           circle.y -= 3;
       }
       if(this.cursorKeys.down.isDown){
           circle.y += 3;
       }

    }
    </script>

</body>
</html>