<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <title>Overclocked</title>
    <script src="static/phaser.js"></script>
</head>
<body>

    <script>
    var config = {
        type: Phaser.AUTO,
        width: 800,
        height: 600,
        physics: {
            default: 'arcade',
        },
        scene: {
            preload: preload,
            create: create,
            update: update
        }
    };

    var game = new Phaser.Game(config);

    function preload ()
    {
        this.load.image('circle', 'static/assets/images/GreenCircleTransperantBackground.png');
        
    }

    var circle;

    function create ()
    {

        this.cursorKeys = this.input.keyboard.createCursorKeys();

        circle = this.physics.add.image(100,100, 'circle');
        circle.setCollideWorldBounds(true);
        
        //circle.setCollideWorldBounds(true);

        // var circles = []
        // for(var i = 0; i < 30; i++){
        //     circles[i] = this.physics.add.image(i*30, 100+i*20, 'logo');

        //     circles[i].setVelocity(100, 200);
        //     circles[i].setBounce(1, 1);
        //     circles[i].setCollideWorldBounds(true);

        // }
    }

    function update(){
        
        var speed = 3;
        
        //Possible fix for how diagonal movement seems to be so much faster
        //Not sure about it though. C.D.

        // if((this.cursorKeys.right.isDown || this.cursorKeys.left.isDown) &&
        // (this.cursorKeys.down.isDown || this.cursorKeys.up.isDown)){
        //     speed = Math.sqrt(Math.pow(speed,2),Math.pow(speed,2));
        // }

        if(this.cursorKeys.right.isDown){
            circle.x += speed;
        }
        if(this.cursorKeys.left.isDown){
            circle.x -= speed;
        }
        if(this.cursorKeys.up.isDown){
            circle.y -= speed;
        }
        if(this.cursorKeys.down.isDown){
            circle.y += speed;
        }

    }
    </script>

</body>
</html>